<div class="container">
    <div class="counter-row">
      <div class="counter">
        <div class="counter-content">
          <div class="counter-icon">
            <i class="fa fa-hospital"></i>
          </div>
          <h3>No. of Hospitals</h3>
        </div>
        <span class="counter-value">{{hospitalCount}}</span>
      </div>
  
      <div class="counter green">
        <div class="counter-content">
          <div class="counter-icon">
            <i class="fa fa-user-md"></i>
          </div>
          <h3>No. of Doctors</h3>
        </div>
        <span class="counter-value">{{doctorCount}}</span>
      </div>
    </div>
  
    <div class="counter-row">
      <div class="counter green">
        <div class="counter-content">
          <div class="counter-icon">
            <i class="fa fa-procedures"></i>
          </div>
          <h3>No. of Patients</h3>
        </div>
        <span class="counter-value">{{patientCount}}</span>
      </div>
  
      <div class="counter">
        <div class="counter-content">
          <div class="counter-icon">
            <i class="fa fa-calendar-check"></i>
          </div>
          <h3>No. of Appointments</h3>
        </div>
        <span class="counter-value">{{appointmentCount}}</span>
      </div>
    </div>
  </div>
  