<h1>Change Password</h1>
<div class="form-container">
  <form [formGroup]="updatePasswordForm" (ngSubmit)="onSubmit()">

    <!-- Old Password Field -->
    <div class="form-group">
      <label for="oldpassword">Current Password</label>

      <div class="password-container">
        <input [type]="oldPasswordVisible ? 'text' : 'password'" id="oldpassword" formControlName="oldPassword"
          placeholder="Enter Current Password" required>

        <button type="button" (click)="toggleOldPasswordVisibility()" class="toggle-btn">
          <i *ngIf="oldPasswordVisible" class="fa fa-eye"></i>
          <i *ngIf="!oldPasswordVisible" class="fa fa-eye-slash"></i>
        </button>
      </div>

      <small *ngIf="updatePasswordForm.get('oldPassword')?.invalid && updatePasswordForm.get('oldPassword')?.touched"
        class="error">
        Password must be at least 8 characters, including uppercase, lowercase, number, and symbol.
      </small>
    </div>

    <!-- New Password Field -->
    <div class="form-group">
      <label for="newpassword">New Password</label>

      <div class="password-container">
        <input [type]="newPasswordVisible ? 'text' : 'password'" id="newpassword" formControlName="newPassword"
          placeholder="Enter New Password" required>

        <button type="button" (click)="toggleNewPasswordVisibility()" class="toggle-btn">
          <i *ngIf="newPasswordVisible" class="fa fa-eye"></i>
          <i *ngIf="!newPasswordVisible" class="fa fa-eye-slash"></i>
        </button>
      </div>

      <small *ngIf="updatePasswordForm.get('newPassword')?.invalid && updatePasswordForm.get('newPassword')?.touched"
        class="error">
        Password must be at least 8 characters, including uppercase, lowercase, number, and symbol.
      </small>
    </div>

    <!-- Re-enter New Password Field -->
    <div class="form-group">
      <label for="reenterpassword">Re-enter New Password</label>

      <div class="password-container">
        <input [type]="reenterPasswordVisible ? 'text' : 'password'" id="reenterpassword" formControlName="reenterPassword"
          placeholder="Re-enter New Password" required>

        <button type="button" (click)="toggleReenterPasswordVisibility()" class="toggle-btn">
          <i *ngIf="reenterPasswordVisible" class="fa fa-eye"></i>
          <i *ngIf="!reenterPasswordVisible" class="fa fa-eye-slash"></i>
        </button>
      </div>

      <small *ngIf="updatePasswordForm.get('reenterPassword')?.invalid && updatePasswordForm.get('reenterPassword')?.touched"
        class="error">
        Password must be at least 8 characters, including uppercase, lowercase, number, and symbol.
      </small>
    </div>

    <button type="submit" [disabled]="updatePasswordForm.invalid">Update Password</button>

  </form>
</div>